version: "3"

services:
  app:
    image: docker.io/108717175/tiexiu:st
    ports:
      - 5123:5123/tcp
    networks:
      - dangdang
   
  cf:
    image: docker.io/wernight/ngrok
    
    depends_on:
      - app
    networks:
      - dangdang

networks:
  dangdangï¼š
